/* CSS File corresponding to the stock chart HTML code, in index.html starting on line 104 */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 800px;
    width: 55%;
    padding: 1em;
    margin: 10px;
}

.chart-box {
    position: relative;
    font-family: sans-serif;
    color: #f4f4f4;
    background-color: #084115;
    border: 1px solid white;
}

.chart-box>.name {
    text-align: left;
    margin: 10px;
}

.chart-box>.change {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.chart-box>.change>* {
    margin-left: 25px;
}

.chart-box>.price {
    text-align: left;
    margin-left: 15px;
}

.chart-box>.high_low {
    text-align: right;
    margin-right: 10px;
}

.chart-box>.timezones {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 2px;
    width: 100%;
    padding-left: 10px;
}

.chart-box:hover {
    background-color: rgba(0, 128, 0, .8);
}