@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
body {
    font-size: .875rem;
    background-color: #e8eaeb;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 60px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-image: linear-gradient(rgba(240, 233, 233, 0.5), rgb(236, 230, 230)), url(/img/background);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: 1.8vw;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    color: #333;
    margin: 10% 5%;
    padding: 0.5rem 2rem;
}

.sidebar .nav-link:focus,
.sidebar .nav-link:hover,
.sidebar .nav-item .active {
    color: #157be9;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
}

.fas {
    font-size: 1.1vw;
}

.sidefa {
    font-size: 1.5vw;
}


/*
 * Content
 */

[role="main"] {
    padding:0 2vw 0 18vw !important;
    /* Space for fixed navbar */
}


/*
 * Navbar
 */

@media (max-width: 1024px) {
    .navbar-brand {
        font-size: 1.2em !important;
    }
}

@media (max-width: 425px) {
    .navbar-brand {
        float: left；
    }
}

.navbar-brand {
    padding-top: .3rem;
    padding-bottom: .3rem;
    font-size: 1.2vw;
    font-weight: bold;
    text-align: center;
}

.form-inline .form-control {
    padding: .75rem;
    border: black 1px solid !important;
    border-radius: 2px;
    height: 1.9vw;
    width: 40vw;
    text-align: left;
    line-height: 1.1;
    margin: 1rem 0 1rem;
}

.form-control-dark {
    color: #343a40;
    background-color: rgba(150, 148, 148, 0.1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    background-color: rgba(104, 102, 102, 0.1);
}

.btn {
    margin: 10px 20px 10px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 1;
}

.navbar-toggler {
    font-size: .7rem !important;
    position: relative;
    float: right;
    margin-right: 1em;
}

.nav-links {
    text-align: left;
    margin-left: 1em;
    color: white !important;
}

.nav-fa {
    font-size: 1.3em !important;
}

.nav-item .dropdown {
    text-align: left;
    

}
@media (max-width: 425px) {
.dropdown {
    position: relative;
    float: left;
}
}

/*Resize the wrap to see the search bar change!*/

.wrap {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 578px) {
    .navbar {
        text-align: center;
    }
}

@media (min-width: 320px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    .btn-group {
        margin-left: 0 !important;
    }
}

@media (min-width: 768px) {
    .btn {
        font-size: 1vw;
    }
}

@media (min-width: 1100px) {
    .card-columns {
        column-count: 3;
    }
}

[class^="card"] {
    margin: 10px;
    border: none;
    padding: 5px;
}

@media (min-width: 768px) {
    #firebaseui-auth-container {
        width: 260px;
    }
}

#firebaseui-auth-container {
    background-color: white;
    border: none;
}

.dropdown-menu {
    background-color: white;
    margin-right: 10px;
}


/*.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
*/


/* Card */

.container-fluid {
    margin-top: 60px;
    height: 1000px;
}

@media (max-width: 425px) {
    .profile-body {
        padding: 150px 0 20px 0 !important;
    }
}
.profile-body {
    padding:200px 2vw 0 18vw;
    text-align: center;
}
.profile-card {
    padding: 1vw 2vw 10vw 2vw;
}
.img-profile {
    width: 240px;
    height: 240px;
}